/* General styling for the body */
body {
  font-family: 'Indie Flower', cursive;
  text-align: center;
  background-color: #112b56;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Container styling */
.container {
  width: 70%;
  margin: auto;
  text-align: center;
  flex-grow: 1;
  position: relative; /* Ensure positioning context for absolute positioning */
}

/* Heading styling */
h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #d8f4eb;
}

/* Paragraph styling */
p {
  font-size: 3rem;
  color: #cc784e;
  font-family: 'Indie Flower', cursive;
}

/* Image styling */
img {
  width: 80%;
}

/* Dice container styling */
.dice {
  text-align: center;
  display: inline-block;
  margin: 20px;
}

/* Specific styling for img1 and img2 */
.img1, .img2 {
  width: 300px;
  height: 300px;
  border: 2px solid aliceblue;
  border-radius: 10px;
}

/* Button styling */
button {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  background-color: #a8ceef;
  color: #333;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px #999;
  transition: all 0.3s ease;
  margin-top: 20px;
  position: absolute; 
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
}

button:hover {
  background-color: #f55855;
}

button:active {
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}
